[2020-05-26 15:58] guillermorodriguez-wk opened #1 "Add Path to lightline on Update.sh"
Hey first off love your work bro! Not enough kindness and love in the world these days, just wanted to start off with this.

But yeah, I ran the ./update.sh and it didn't move the lightline theme to the right place. I think you want to add this path in there:

`/Users/$USER/.local/share/nvim/plugged/lightline.vim/autoload/lightline/colorscheme`

[2020-05-27 04:09] pineapplegiant commented on #1
Wow, bro, that's the nicest thing anyone has ever said to me. That means a lot!
I went ahead and threw that bad boy in there, thanks! :)

[2020-05-27 04:09] #1 closed

[2020-12-12 12:59] sureyeaah opened #2 "Support for kitty"
It would be great if you could add support for kitty terminal. Thanks!

[2020-12-12 16:32] Tomburgs opened #3 "Missing highlighting in TypeScript"
Hey, I love the color scheme, but there are some issues with it when working with TypeScript / TypeScript React.

Here's some of the issues I've encountered:
- Keywords such as `const` and `typeof` don't get highlighted (default foreground color).
- Function keyword is highlighted in the same color as the name of the function.
- Function return type doesn't always get highlighted (JSX.Element in t

[2020-12-12 19:55] pineapplegiant commented on #3
Oof yeah that is ugly.

Good find and these screenshots are great! I was able to recreate the error. I'll try to get this done in the next couple days as I need to standardize where colors go more consistently. Just curious, are you using a specific syntax plugin by any chance? Thanks again.

[2020-12-12 19:59] pineapplegiant commented on #2
Looks like an easy lift, along with Alacritty. If you have the bandwidth feel free to port it! I'll get to it soon.

[2020-12-12 20:05] Tomburgs commented on #3
I do have [vim-polyglot](https://github.com/sheerun/vim-polyglot) plugin installed which uses [yats.vim](https://github.com/HerringtonDarkholme/yats.vim), however it's now the default TypeScript highlighting in [Vim](https://github.com/vim/vim/blob/master/runtime/syntax/typescriptcommon.vim) & [NeoVim](https://github.com/neovim/neovim/blob/master/runtime/syntax/typescriptcommon.vim), so there shou

[2020-12-14 08:39] fuadnafiz98 commented on #2
I can port this to kitty and alacritty if  anyone not apporching

[2020-12-14 09:48] pineapplegiant commented on #2
@fuadnafiz98 If you have the time that would be great! Let me know if you need help with the colors.

[2020-12-14 13:01] fuadnafiz98 commented on #2
@pineapplegiant  Sure, I would love to do that, I am experimenting with the colors and will report back to you if anything I need :)

[2020-12-14 13:26] fuadnafiz98 commented on #2
Currently, this is the 16 color palette, I need either a new blue or a new cyan, the rest of the colors seems ok to me.

![image](https://user-images.githubusercontent.com/43469396/102086154-d149c080-3e41-11eb-8816-2310061638f0.png)

[2020-12-14 20:31] pineapplegiant commented on #2
@fuadnafiz98 I know it looks crazy, but this is how I have my iTerm setup, maybe it helps.

<img width="550" alt="Screen Shot 2020-12-14 at 12 29 04 PM" src="https://user-images.githubusercontent.com/32819563/102132114-076a4e80-3e08-11eb-971d-8626d1d8cb51.png">

[2020-12-15 09:26] pineapplegiant commented on #3
@Tomburgs Just updated the branch with another commit hopefully that fixes the Typescript issue. (I think there's too much pink now), but go ahead and give that a try. I just updated the README with all of the locations of the colors too.

[2020-12-15 12:12] fuadnafiz98 commented on #2
Thanks, But the **yellow** and **magenta** is confused me a bit, so I swapped them.
Anyway, I am making a PR with two versions ( one like you created with Item2 and my version).

[2020-12-16 00:51] pineapplegiant commented on #2
@sureyeaah you can find the [kitty theme here!](https://github.com/pineapplegiant/spaceduck/blob/main/term/spaceduck.conf) let me know if there's any issues.

[2020-12-16 00:51] #2 closed

[2020-12-16 01:09] pineapplegiant commented on #3
<img width="832" alt="Screen Shot 2020-12-15 at 5 03 02 PM" src="https://user-images.githubusercontent.com/32819563/102291374-d10bfc80-3ef7-11eb-8922-ea13e4a46bf1.png">

Might change the pink braces. But I'm gonna close this for now!

[2020-12-16 01:09] #3 closed

[2020-12-17 04:43] excalios opened #8 "Cannot allocate color 0 error"
I got this error everytime I try opening a file:
Error detected while processing /.vim/plugged/coc.nvim/plugin/coc.vim[458]..function <SNR>22_Hi[49]..<SNR>22_AddAnsiGroups:
line   18:
E254: Cannot allocate color 0
E254: Cannot allocate color 0

This only happens with this colorscheme using other colorscheme doesn't show the error

[2020-12-17 07:52] pineapplegiant commented on #8
Hmmm. Not sure, looks like an issue with COC.

Can you tell me what terminal you're using?
What does `echo $TERM` return?

[2020-12-20 12:17] excalios commented on #8
I use kitty echo $TERM would return xterm-kitty and this is on fedora workstation 32.

I'm still unsure of the problem this happen when using vim. I just switched to neovim and haven't had the warning at all.

[2020-12-27 10:36] anirudhsundar commented on #8
I'm facing the same error. I work on a remote machine and just have putty setup with truecolor support and it works fine for all other themes. My output for `echo $TERM` is `xterm-256color`. I'm still quite new to vimscript and have no clue how to debug this issue, so any help would be great.

[2020-12-27 18:47] pineapplegiant commented on #8
Seems like the new estilo version is all kinds of messed up. Discovered the [Rigel colorscheme was having a similar issue](https://github.com/Rigellute/rigel/issues/10). I think the last commit should fix this!

[2020-12-27 18:47] #8 closed

[2021-01-02 18:16] pineapplegiant opened #9 "Lazygit cyan color make it difficult to use"
<img width="1552" alt="Screen Shot 2021-01-02 at 11 15 14 AM" src="https://user-images.githubusercontent.com/32819563/103463730-cb7e2700-4ceb-11eb-84f9-2775002b0d9d.png">

When using lazygit the cyan colors interfere with the visual selection in the unstaged changes panel.

[2021-01-02 18:17] pineapplegiant commented on #9
Lazygit configuration docs might be useful here:

https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md

[2021-01-05 22:52] maheshsundaram opened #11 "tmux colors"
Hi there! I really love this colorscheme - and so I want it everywhere.

It looks like in the README screenshot you use tmux and also have styled it with the spaceduck colors?

I took my best guess and what you are probably using. Maybe it could be added to the README?

[code]

![screen07](https://user-images.githubusercontent.com/9041312/103708500-c40d8680-4f54-11eb-84ab-7c9e5fb2a4ef.jpg)

[2021-01-05 23:28] pineapplegiant commented on #11
That's a great idea. Yeah I've been procrastinating on adding this.
I wasn't aware that you could use hexadecimal colors? I'm searching now– it looks like Tmux just approximates the colors which makes it much easier: [https://github.com/tmux/tmux/issues/315](https://github.com/tmux/tmux/issues/315).

I currently have the lighter purple on my status bar to differentiate from the lightline theme sta

[2021-01-09 20:46] pineapplegiant commented on #11
Okay, scratch that. I'm silly it definitely supports truecolor. This is what I've come up with for powerline-looking styles for now: Dark, Default, and Purple. I'm going to add the files to the [spaceduck-terminal](https://github.com/pineapplegiant/spaceduck-terminal) repo and link it on this README @maheshsundaram.

<img width="961" alt="dark" src="https://user-images.githubusercontent.com/328195

[2021-01-09 21:17] maheshsundaram commented on #11
@pineapplegiant Looks really nice, thank you for your work and for sharing!

[2021-01-10 01:00] #11 closed

[2021-01-10 01:01] pineapplegiant commented on #11
Let me know what you think!
[https://github.com/pineapplegiant/spaceduck-terminal/tree/main/tmux](https://github.com/pineapplegiant/spaceduck-terminal/tree/main/tmux)

[2021-02-06 11:59] ceoshikhar opened #17 "What is the name of the font in this screenshot in the README?"
![image](https://user-images.githubusercontent.com/62669971/107117513-bd9a6380-68a0-11eb-849d-333d9a070b6a.png)

Great theme! Loved the font and want to make my setup look the same. Thanks

[2021-02-06 16:08] pineapplegiant commented on #17
☺️ I’m delighted you like it! I am using “Fura mono” nerd font. It’s the patched Fira mono font so you can use icons. You can download it from the [nerd fonts repo here](https://github.com/ryanoasis/nerd-fonts/tree/master/patched-fonts/FiraMono). Apparently, if you like ligatures you can also use Fira code instead.

Thanks for chiming in. I’ll pin this when I get on my computer so others can see.

[2021-02-06 16:25] ceoshikhar commented on #17
Thank you for such a quick reply! 😁

[2021-02-08 08:06] #17 closed

[2021-02-18 01:57] cristianpjensen opened #18 "Colors not working"
Hi, I'm new to vim and am trying to get your colorscheme to work in my terminal. I am using iTerm2. The colors don't seem to work for me though. I've tried everything I could find about colorschemes, but nothing seems to work. Below is a screenshot of what it looks like.

<img width="1082" alt="Screenshot 2021-02-18 at 02 39 45" src="https://user-images.githubusercontent.com/62624115/108293773-0e5

[2021-02-18 06:28] pineapplegiant commented on #18
Let me try to recreate the issue...are you using it inside of Tmux by any chance?

[2021-02-18 06:56] pineapplegiant commented on #18
Hmm, from your screenshot it looks like it has something to to do with the `termguicolors` setting. I was playing with Vundle and everything seemed to download okay with the syntax from the vimrc that you've shown.

Can you go ahead and run `:set termguicolors`?

If it says `notermguicolors` then maybe the if-block in the readme isn't really working like I'd like it to. Setting it should hopefully

[2021-02-18 12:58] cristianpjensen commented on #18
Thank you for your reply. I looked further into it and it had something to do with my vim. I was using the vim that comes with macos, instead of the homebrew version. I am now using the homebrew version and everything seems to be working. I don't understand why, but maybe the macos version can't use termguicolors? I don't know.

[2021-02-18 12:58] #18 closed

[2021-02-18 15:46] pineapplegiant commented on #18
Might be an older version of vim that doesn’t support the feature, yeah.

Glad you were able to figure it out and thanks for sharing so others can learn from that.

[2021-03-18 02:07] theimerj opened #19 "Integrated terminal colors for vim"
Hello, throughout the night I was trying to get colors for FZF preview untill I found out that it pretty much uses integrated terminal colors. After hours of googling, I found out that normal vim probably handles integrated terminal colors differently from neovim.

I wanted to create a PR, but I did not know how to quickly make it work with estilo, so I am just send a code snipped, which you could

[2021-03-22 03:00] pineapplegiant opened #20 "lualine screenshots"
![spaceduck_normal](https://user-images.githubusercontent.com/32819563/111934957-16f0d780-8a88-11eb-9f33-f02c9ba364c1.png)

![spaceduck_insert](https://user-images.githubusercontent.com/32819563/111934981-21ab6c80-8a88-11eb-8118-dfbc2dc3bddf.png)

![spaceduck_visual](https://user-images.githubusercontent.com/32819563/111935019-325be280-8a88-11eb-9846-a2d7bfec226c.png)

![spaceduck_replace](https:/

[2021-03-22 03:00] #20 closed

[2021-03-22 03:36] pineapplegiant commented on #19
Do you have any screenshots?

I'm not sure how the integrated terminal color works to be honest. I have my terminal prompt in spaceduck colors already, and I mainly use neovim... but I can try to setup a config to test out the colorscheme for vim.

Estilo compiles the spaceduck YAML: `base.yml` file into colorscheme which is: `spaceduck.vim`. I know there's some [terminal color groups already pres

[2021-03-23 17:59] jz36 opened #21 "Wrong colors for java"
Hi!

I'm not sure but is it OK?

it seems to me that the colors are somehow faded. Especially the code itself

![Screenshot_2021-03-24_03-54-33](https://user-images.githubusercontent.com/11018571/112194646-ea28f580-8c2a-11eb-95df-329effa22dba.png)

thank you! :)

[2021-03-23 18:11] jz36 commented on #21
.bashrc for example

![Screenshot_2021-03-24_04-07-45](https://user-images.githubusercontent.com/11018571/112196628-0a59b400-8c2d-11eb-819f-32210734deac.png)

[2021-03-23 21:13] pineapplegiant commented on #21
Thanks for submitting an issue!

I'll check when I get home, but I'm guessing you're referring to the lack of colors, yes?

[2021-03-24 05:09] jz36 commented on #21
I'm sorry this is my fault.
I didn't check vim-polyglot. It doesn't support java
When I installed plugin for java syntax highlighting everything was fine
![Screenshot_2021-03-24_14-59-17](https://user-images.githubusercontent.com/11018571/112258817-f80d6380-8c88-11eb-848a-c87ef226df63.png)

[2021-03-24 12:15] pineapplegiant commented on #21
No problem, I can probably still optimize the colors for java. Now it’s too much color for my tastes in that picture 😅. I’ll take a look at the plug-in syntax groups

[2021-03-24 12:51] jz36 commented on #21
Thanks!

[2021-03-29 22:38] theimerj commented on #19
Hello,

I am sorry for such late reply.

Here are some screenshots. I tried to display the colors with this command
`for x in {0..8}; do for i in {30..37}; do for a in {40..47}; do echo -ne "\e[$x;$i;$a""m\\\e[$x;$i;$a""m\e[0;37;40m "; done; echo; done; done; echo ""` which i found [here](https://askubuntu.com/questions/27314/script-to-display-all-terminal-colors)

Without explicitly setting **ter

[2021-03-30 13:09] singlexyz opened #22 "Some keywords apply the wrong color."
Here's my screen shot, the keyword's color doesn't look like the screenshot.
e.g.  `const`, `document`, and NERDTree icons.

<img width="1085" alt="截屏2021-03-30 下午8 58 49" src="https://user-images.githubusercontent.com/4456413/112993412-c66e2e00-919b-11eb-859d-e7f1f28e2b97.png">

Here's screen from spaceduck.
<img width="1509" alt="screenshot" src="https://user-images.githubusercontent.com/4456413

[2021-03-30 14:10] singlexyz commented on #22
😥 I found the problem, I install the `vim-polyglot` and `nvim-treesitter/nvim-treesitter` both.
the treesitter's highlight overwrite the default syntax.

[2021-03-30 14:26] pineapplegiant commented on #22
I might keep this open, I want to support treesitter out of the box!

[2021-03-30 17:31] petrovskidavid21 opened #23 "Incorrect Colors for Vim"
After installing this plugin for vim, I noticed that some of the colors are not showing up like they should, going off by the screenshots posted in the repo. I also downloaded the VSCode version to compare it with my Vim and I saw a difference.

Here is a screenshot of how my vim looks (keep in mind for the color of the comments I modified it to be gray, but that is the only modification I did).
!

[2021-03-30 20:59] petrovskidavid21 commented on #23
I am using the Terminal App on Mac. Thats what I was thinking but I wasn't sure. Any suggestions?

[2021-03-30 21:05] pineapplegiant commented on #23
Ahh yeah the default terminal app last I checked doesn’t support “true color” it’s so dumb 😔. I have a link to it in the readme that talks more in depth about it:

https://gist.github.com/XVilka/8346728

It’s why I switched to iTerm and then recently to alacritty. I’ll get around to making an optimized 256 color scheme though. Let me know if that fixes it?

[2021-03-30 22:12] petrovskidavid21 commented on #23
Perfect! Thank you so much, that makes a lot more sense now. I actually just got it to work with iTerm and I'm loving it. Thanks for the help again.

[2021-03-30 22:12] #23 closed

[2021-03-30 22:17] pineapplegiant commented on #23
Yay! Thanks for submitting an issue feel free to post any other pictures that seem off.

[2021-03-30 22:19] pineapplegiant commented on #19
I’m also thinking a change in Estilo would be ideal, otherwise I’ll have to stop using it which wouldn’t be the end of the world. I can see if the owner is still active before making any big changes.

[2021-03-31 07:46] Nargonath opened #24 "Light alternative"
Thanks for this awesome Vim theme. 🙏

I find myself working in bright environment during the day and the current theme is hard to see properly when you have some light shining on your screen. Would you accept a light version of this theme? As Solarized has for example. I've never worked with Vim theme yet so I have no clue how such light version could be distributed or setup but if that's a contri

[2021-03-31 12:32] pineapplegiant commented on #24
Great suggestion. I struggle with this at work as well. I will be working on this next along with a lower contrast variant.

[2021-03-31 14:52] Nargonath commented on #24
Perhaps GitHub's projects tab would be the right tool for that.

I'm not sure I understood you correctly, could I contribute on that or do you prefer to take care of it?

[2021-03-31 14:58] pineapplegiant commented on #24
Yeah I’ll set that up.  My apologies I wasn’t very clear.

Yeah I’d love help if you want to take on this task, but I can also take care of it too. These things are very subjective so I’ll be very picky on colors, but can help you along the way if you’d like 👍

[2021-04-01 13:51] singlexyz commented on #22
Thanks a lot. 😍

[2021-04-02 03:31] Eliot00 opened #25 "Unfocus tab too dark"
Not sure if it’s a bug, but it looks too dark

<img width="1261" alt="截屏" src="https://user-images.githubusercontent.com/18375468/113377335-9b0b5f00-93a6-11eb-8629-e8e018965183.png">

[2021-04-02 03:44] pineapplegiant commented on #25
Is this Airline? Yeah that looks busted lol.

I’ll fix it this weekend. I haven’t tested Airline just light line.

[2021-04-02 06:30] Eliot00 commented on #25
Yes it's Airline, and thanks for your nice work on the theme.

[2021-04-02 09:22] jinh0 commented on #25
I've had this same issue, which is when you have `let g:airline#extensions#tabline#enabled = 1` on, which shows buffers as well as tabs.

Normally, spaceduck looks great as usual with that setting off:
<img width="1647" alt="Screen Shot 2021-04-02 at 6 17 47 PM" src="https://user-images.githubusercontent.com/40512164/113402490-0aea0b80-93e0-11eb-8bbb-af9cc57021fb.png">

But for some reason with `l

[2021-04-02 10:17] jinh0 commented on #25
UPDATE:
<img width="1652" alt="Screen Shot 2021-04-02 at 7 16 26 PM" src="https://user-images.githubusercontent.com/40512164/113407281-ef82fe80-93e7-11eb-842c-cc656364c2c3.png">

When changes have been made to the file:
<img width="1647" alt="Screen Shot 2021-04-02 at 7 13 27 PM" src="https://user-images.githubusercontent.com/40512164/113407171-bfd3f680-93e7-11eb-90b8-cdc23b9b8e0f.png">

I added t

[2021-04-03 03:13] Eliot00 commented on #25
I like this, thank you.

[2021-04-05 01:03] pineapplegiant commented on #25
Thanks for this!

Yeah I think this might be a bug with [these lines in the raw colorscheme](https://github.com/pineapplegiant/spaceduck/blob/836a90f614aefac45149d7b893e116bf9c7a59ee/colors/spaceduck.vim#L71-L73), let me play with it before adding this in the airlines theme.

I switched to using bar bar and have this for my tabline, so hopefully I can recreate, as I like the smooth blended look in

[2021-04-08 14:22] jinh0 commented on #25
I think your smooth blended look is better. The original colors I used was because it matches the the bottom Airline status bar.

So I tried using the barbar colors from your screenshot for the Airline tabs, but it doesn't look as pretty.

This is how the barbar look translates:
<img width="1220" alt="Screen Shot 2021-04-08 at 11 15 21 PM" src="https://user-images.githubusercontent.com/40512164/11

[2021-04-09 02:18] pineapplegiant commented on #25
This looks perfect oh my goodness! Apologies for taking so long on this.
Yes I would very much like this in the theme!
I can do it or if you prefer to submit a PR, for recognition I'll gladly accept it. To make these changes, you'd want to edit the `/spaceduck/blob/main/estilo/syntax/base.yml` along with the base spaceduck file if you don't want to install the estilo dependency locally.

[2021-04-09 02:33] pineapplegiant commented on #21
Do you mind sharing which plugin you're using?

[2021-04-13 07:04] jz36 commented on #21
Sorry for late replay
[uiiaoo/java-syntax.vim](https://github.com/uiiaoo/java-syntax.vim)

[2021-04-19 03:06] jinh0 opened #28 "Give names to colors."
Too many purples.

[2021-04-19 06:08] jinh0 opened #29 "Edit README.md colors for Visual Selection Line and Cursor Line"
Change colors according to new changes in dev branch.

[2021-04-19 06:17] jinh0 commented on #25
The Airline status bar and tab line both have been fixed and are ready for release. Currently, it is in the dev branch.

Thanks for reporting the issue!

[2021-04-19 06:17] #25 closed

[2021-04-19 06:21] pineapplegiant commented on #24
@Nargonath sorry I took so long to respond.
Yes I would love some help on this. I'm working on bugfixes and trying to improve the general theme in other ways and to setup releases. I'm not the biggest fan of light themes, but if I were to give you some creative vision I would prefer the background not to be absolutely white like maybe this [rose-pine-theme](https://github.com/rose-pine/vscode), or

[2021-04-19 07:56] Nargonath commented on #24
No worries @pineapplegiant, I manage some Open Source projects myself as well, I know how it is. 😉

I don't use light color theme most of the time either. I just use them when my work environment is too bright.

That's definitely what I had in mind. I thought of solarized light as an example too. I'll try to work as much as possible with your current color palette. I'll report back when I have som

[2021-04-26 02:26] #29 closed

[2021-05-04 13:43] YoussefBouzekri commented on #28
Purple -> Lavender
Purple 2 -> Cyber Grape
Dark Purple -> Space Cadet
Dark Purple 2 -> Pearly Purple
@jinh0 what do you think ? 🟪

[2021-05-04 14:01] YoussefBouzekri opened #31 "I made a duckduckgo port, but I am unsure where to put it"
Hey, thanks for the great theme !
I made this space**duck** theme for **duck**duckgo (how ironic lol) but I am not sure if I should put it in the official repo (it may become too crowded) or in spaceduck-terminal (this one is for terminal ports only)

Here is how it looks :
![image](https://user-images.githubusercontent.com/77839865/117014689-f18ef480-ace8-11eb-8d81-796fdc668082.png)

to get it yo

[2021-05-05 08:03] jinh0 commented on #28
Hey @YoussefBouzekri , thanks for helping out! I agree we should change Purple to Lavender.

Cyber Grape instead of Purple2 sounds amazing; I'm thinking simply 'Grape' for short (also how is a grape cyber?).

I think Pearly Purple is too much of a tongue twister, though. Space Cadet means an astronaut, so I can't see a clear correlation with the color.

I'll be sure to replace the color names for

[2021-05-05 08:38] YoussefBouzekri commented on #28
Thanks for the quick response @jinh0
I really like how Void Purple Sounds, but what about the rest of the colors (blue, green etc..), will you be renaming those out ?

[2021-05-05 13:15] jinh0 commented on #28
I don't think they need renaming... yet ( @pineapplegiant is planning on making 16 colors in total).

I made this issue because it was actually getting annoying to distinguish between four colors all named Purple in conversation. Thanks for solving the issue!

Now that I think about it... DarkPurple2 should be called Blueberry. Let me know what you think!

[2021-05-05 13:19] YoussefBouzekri commented on #28
I love it !

[2021-05-07 15:52] pineapplegiant commented on #31
Sorry for getting to you late @YoussefBouzekri!
Would you like to be the owner of this code? You can create a repo, and I'll add a link to the readme. The only other option would be me to host the code and link here and have you as a contributor. This repo's for the vim/neovim plugin so obviously putting it here wouldn't be good. Let me know what you think?

I've also thought of creating an organi

[2021-05-07 15:54] pineapplegiant commented on #19
I've added these additions on the `dev` branch, so if you want to see what we're currently working on you can switch to using that branch @theimerj

[2021-05-07 16:06] YoussefBouzekri commented on #31
@pineapplegiant I would love to manage the repo (will be a great learning experience for me since I have never worked on a serious open-source project before), you could then link to that repo in this repo's README and move all of the ports to the new "Spaceduck Ports" repo so that it doesn't get too confusing

[2021-05-07 16:15] YoussefBouzekri commented on #31
idk if you know about it but there is also a [firefox theme](https://addons.mozilla.org/en-US/firefox/addon/spaceduck/), I didn't know the theme was everywhere lol 🤣

[2021-05-07 17:36] pineapplegiant commented on #31
That sound like a great idea! Yeah luckily I got an email from the firefox theme creator telling me about it, so I wasn't too surprised. I've been meaning to add that link here. Yeah we'd love to have you as a contributor!

Definitely will bug you when the two other variant color scheme variants come out both light and middle contrast themes, so you can add that in. I might ask you to change the s

[2021-05-07 17:53] YoussefBouzekri commented on #31
![image](https://user-images.githubusercontent.com/77839865/117488865-cc0e1f00-af64-11eb-924c-1b0bb5da9d30.png)
I feel like this is too much blue/purple idk.. I'll keep it if you prefer this

I must say this in advance , I might not be able to do much work on the repo these next few weeks until the summer vacation (mid june where I live) because of final exams, I will try to do my best tho 🦆

[2021-05-07 23:34] pineapplegiant commented on #31
Hmm yeah. Maybe Blue on the title and gray  as the url or something. Just matching googles vibe basically idk.

And that’s no worries don’t fail because of spaceduck! Spaceduck devs are A students. If you want you can give me collaborator access on a dev branch like how I have for @jinh0 hehe

[2021-05-08 06:28] YoussefBouzekri commented on #31
Alright I'll start working on it !

[2021-05-08 06:28] #31 closed

[2021-05-10 16:41] pineapplegiant commented on #31
Hey @YoussefBouzekri I think I might have miscommunicated with you and I apologize 😢 . I saw you created a whole repo for spaceduck-ports. I wanted to say thank you, but I was thinking you should just self-host the duckduckgo theme and I'll link to it from here. It might be a little overkill to have a repo for just ports.

As far as where to put the link, I thought about it, and it makes sense to

[2021-05-12 21:50] pineapplegiant opened #33 "I think we gotta turn this bg to NONE"
https://github.com/pineapplegiant/spaceduck/blob/b5b4ceb71754fda32c9dd5670e0bcdff9525bba5/colors/spaceduck.vim#L44

![Screen Shot 2021-05-12 at 3 49 33 PM](https://user-images.githubusercontent.com/32819563/118048543-a6ed2800-b339-11eb-9fe8-cfbdd54d1ffe.png)

Basically, it messes up the cursorline in a lot of places. Obviously a minor thing, once we get that highlight function going :)

[2021-05-19 23:45] fdidron opened #34 "Consider tweaking the comments color"
Hello,

I absolutely love this color theme. However one issue I have with it is the comments color is a bit too dark, making the comments hardly visible.

Tweaking the comments color to a slighlty brighter color goes a long way IMHO (window on the bottom contains the tweak)

![comments](https://user-images.githubusercontent.com/1848786/118898408-70219e00-b947-11eb-8124-1443f47d28ed.jpg)

Now this

[2021-05-19 23:49] pineapplegiant commented on #34
Hey! Thanks for this. Yes you’re absolutely right. I’ve been super procrastinating on many things, but this one is a must. We have changed the comment color along with some other things on our dev branch!

Like instead of main try out dev and tell me what you think. I’m in the process of finalizing colors still so I’ll keep this open until I merge into main.

[2021-05-20 00:30] fdidron commented on #34
@pineapplegiant  Just tried the dev branch, that's perfect !

[2021-05-23 13:58] Nargonath commented on #34
Thanks for raising this, it's been on my mind lately too. That's cool to see that you already took care of it @pineapplegiant . 💪

[2021-05-23 16:26] Nargonath commented on #24
I started to dig in this issue. That's the first time I work on a Vim colorscheme so I might be wrong but it seems to me that in order to easily switch the colors between the light/dark background we need to rewrite most of the `colors/spaceduck.vim` file. From I grasped I think we need to:

* Extract all the colors codes into variables (dictionary seems the best): that way we can easily change th

[2021-05-26 00:37] jinh0 commented on #34
For any future developers who have similar complaints of dark comment color or cursor line color, **please use the `dev` branch of the colorscheme until version 0.1 is released to the main branch.**

This can be done as follows using a plugin manager like `vim-plug`:
[code]

[2021-05-26 00:37] #34 closed

[2021-05-26 00:47] jinh0 opened #36 "TypeScript colors need to be redone."
Although @pineapplegiant and I have focused our efforts on JavaScript, TypeScript is a complete mess right now. I will, in the upcoming days, slowly push out changes to the `dev` branch to make TypeScript comparable to our JavaScript syntax highlighting is.

<img width="804" alt="Screen Shot 2021-05-26 at 9 32 19 AM" src="https://user-images.githubusercontent.com/40512164/119586260-4cf36480-be07-1

[2021-05-26 00:55] jinh0 opened #37 "Spaceduck theme for lightline.vim"
I recently ditched [vim-airline](https://github.com/vim-airline/vim-airline) due to its utter slowness for [lightline.vim](https://github.com/itchyny/lightline.vim) but there's no current spaceduck theme for it.

If anyone can make one for lightline, I'll immediately merge it with the `dev` branch.

[2021-05-26 00:56] pineapplegiant commented on #37
bruh i made one

[2021-05-26 00:57] pineapplegiant commented on #37
@jinh0 is drunk watch out https://github.com/pineapplegiant/spaceduck/blob/main/autoload/lightline/colorscheme/spaceduck.vim

[2021-05-26 01:16] jinh0 commented on #37
<img width="1635" alt="Screen Shot 2021-05-26 at 10 12 40 AM" src="https://user-images.githubusercontent.com/40512164/119588034-e8d29f80-be0a-11eb-816b-d4395a5fbb3b.png">
Looks terrible. Requires improvement. It should look similar to my airline theme.

[2021-05-26 01:17] #37 closed

[2021-05-26 02:42] jinh0 opened #38 "Handling errors in JavaScript (& a brighter red color?)"
Handling error cases in JavaScript doesn't look that pleasant:
<img width="443" alt="Screen Shot 2021-05-26 at 11 36 47 AM" src="https://user-images.githubusercontent.com/40512164/119594521-eaa26000-be16-11eb-8fe2-911c3cc969e7.png">

I've debated whether the `Error()` object even deserves to be red since it is actually the prudent, future-proofing developer who writes error handling. Maybe `Error`

[2021-05-27 09:32] Eliot00 opened #39 "Wrong highlight in Python"
## Screenshot:

<img width="481" alt="截屏2021-05-27 下午5 25 48" src="https://user-images.githubusercontent.com/18375468/119801966-b9a65600-bf10-11eb-8955-2f10510b9c9a.png">

## Test code:

[code]

## Plugin:

[python-syntax](https://github.com/vim-python/python-syntax)

[2021-05-28 15:15] euglevi commented on #22
That would be great!

[2021-05-31 01:04] jinh0 opened #40 "Vimscript syntax issue with `vimFuncVar`"
<img width="519" alt="Screen Shot 2021-05-31 at 10 03 30 AM" src="https://user-images.githubusercontent.com/40512164/120126549-98d34e80-c1f7-11eb-936e-a11729660f52.png">

[2021-05-31 03:02] jinh0 opened #41 "Suggestion: Add lighter blue color for more dynamic syntax"
Example: VSCode default color scheme
<img width="605" alt="Screen Shot 2021-05-31 at 12 01 07 PM" src="https://user-images.githubusercontent.com/40512164/120133900-f2437980-c207-11eb-8545-5361b7cb01ef.png">

[2021-05-31 03:24] jinh0 commented on #39
Python syntax has been the trickiest to deal with due to the reason @pineapplegiant has mentioned: Python syntax highlighting is **horrible** on Vim, and no plugin has successfully managed to handle it.

<img width="660" alt="Screen Shot 2021-05-31 at 12 12 38 PM" src="https://user-images.githubusercontent.com/40512164/120135003-464f5d80-c20a-11eb-9779-cf03a417a003.png">

This is the best fix I co

[2021-05-31 08:28] layered372 opened #42 "Change color in the middle of #if ... #endif (in c / cpp)"
Change color in the middle of #if ... #endif (in C / CPP)

[example] #if 0 .... #end if --> comment color (as of now Foreground color [#ecf0c1] is displayed)

![spaceduck_issue_in_c](https://user-images.githubusercontent.com/71858496/120163951-ffc32880-c234-11eb-99e2-570f4974aa58.png)

[2021-05-31 08:45] layered372 commented on #42
you can change it by modifying "hi line cCppOutIf2" in color/spaceduck.vim
ex)
"hi link cCppOutIf2 Normal
hi link cCppOutIf2 Comment

[2021-05-31 08:45] #42 closed

[2021-05-31 13:03] Eliot00 commented on #39
thanks, I'll try the vim-polyglot

[2021-06-04 14:08] bigpick opened #43 "Airline inactive colors unreadable?"
# Info
Heya! Been looking for something to get me away from my main themes (Dracula, snazzy, nord) from time to time, and I really think this colorscheme's palette looks great, while still being functional/able to be easily consumed esp wrt syntax (my main issue with nord). I'm hoping I can contribute some more ports/themes in my spare time, and really hope this theme gets the hype it deserves.

*

[2021-06-04 14:40] pineapplegiant commented on #43
You bring up a lot of good points that I do wanna address, but I wanna respond quickly.

Mmm @jinh0 has been working on the airline theme. Can you check out the dev branch and let me know what you think? We’re working on expanding the color palette and we fixed some issues with readability (like on comments) on that branch that I’m hoping to push to main this weekend.

[2021-06-04 14:51] bigpick commented on #43
Awesome, thanks, I'll take a look at that.

For the organizational stuff, have you thought much about if (or how if so) to go towards that route, or no? I guess, just would be curious if in the meantime developing ports for other things, what the best way to then "get them added to the theme" would be best (currently, looks like just links to others personal repo's in the main README)

[2021-06-04 15:06] bigpick commented on #43
The dev branch airline looks *a lot better* wrt the other bullets I pointed out (also like the warning color being toned down much more too), but [the issue with the inactive text is still there](https://github.com/pineapplegiant/spaceduck/compare/dev#diff-9fa153d009cbacc50dcdde44396768196ec57e21fea7fc99ce3eda762d05be3eR32-R34):

![Screen Shot 2021-06-04 at 11 03 58 AM](https://user-images.githubu

[2021-06-04 15:06] pineapplegiant commented on #43
I’ve thought about it a little bit (I didn’t expect people to like the theme and contribute at all 😅).

I really like nord and how they handle things, such a well designed theme (although the colors are too muted imo). So I’ve thought about creating a gatsby site like how they have done and in the mean time moving everything non plugin related to the wiki.

I’m open to any suggestions, of course.

[2021-06-04 15:22] jinh0 commented on #43
Hey @bigpick , thanks for taking the time to use the dev branch! Glad you're liking my airline. Thanks for letting me know about the inactive text being too dark. I'll fix it this weekend! 😊

[2021-06-04 15:29] bigpick commented on #43
I agree, nord's site is pretty nice. I think that though also includes a lot of additional work to maintain a good looking site (kinda true for any approach though so), and from what I can tell, two places of information for a given port?

e.g nord-vim has its own repo under the org, but on the site (https://www.nordtheme.com/ports/vim) it has its own web page that isn't tied at all wrt source/inf

[2021-06-06 17:49] bigpick opened #44 "Some low hanging fruit: additional assorted ports"
# Info
Threw together some additional (easier) ports, looking for feedback on inconsistencies/choices/etc or otherwise "addition to the main theme".

As mentioned in a previous issue, I am not too sure the layout of how y'all are aiming to get things added/maintained in the meantime, so if you want me to break these into separate issues/PRs/other, just let me know. Thanks!

---

### Slack
* Source

[2021-06-06 20:41] YoussefBouzekri commented on #44
I made my own duckduckgo port a while ago, it sad that there is no good/easy way to share it with others

[2021-06-06 23:35] bigpick commented on #44
Initial passes of the Atom Syntax / UI themes are here:

1. Syntax: https://github.com/bigpick/spaceduck-atom-syntax
   * Atom package registry: [here](https://atom.io/packages/spaceduck-syntax)
   * ![](https://raw.githubusercontent.com/bigpick/spaceduck-atom-syntax/main/screenshot.png)

---

2. UI: https://github.com/bigpick/spaceduck-atom-ui
   *  Atom package registry: [here](https://atom.io/p

[2021-06-07 04:27] pineapplegiant commented on #41
I like this screenshot. I think bluegreen and light blue, or maybe a darker blue would be nice for sure.

[2021-06-07 04:59] jinh0 commented on #44
Amazing work @bigpick ! I had never heard of `colorls`, but you make it look so freaking amazing, I'm going to check it out.

I have one issue with the ZSH syntax highlighting as I can see currently: the cyan color is reserved for "strings" only.

We can discuss these things in more detail on our Discord server https://discord.gg/tW7YfWjM. We'd be happy to have you on board!

[2021-06-07 05:12] jinh0 commented on #43
Hey @bigpick I used your fix for the inactive colors and also replaced the #000000 with #0f111b like you mentioned. Thanks!

Regarding the organization of the ports, I think that is a bigger discussion that should be its own issue or post on the discussions section. If I may put in my two cents however, I think a big Dracula-like website is a far stretch as of now since Spaceduck is still figuring

[2021-06-07 11:37] bigpick commented on #44
Hey, sure! That discord link looks bad/expired though:\

And ah, yeah, I realized I needed to go back and take another pass at the ZSH highlighting after I took another pass at the atom syntax stuff since it wasn’t really adherent to the repos spec. I’ll take another look at firming that up against the defined spec in the meantime.

[2021-06-07 12:15] bigpick commented on #44
And Google Chrome port uploaded to the store now as well: https://chrome.google.com/webstore/detail/spaceduck-an-intergalacti/oagpdnaponfkenfojfkhjmkdeeamjpib

[2021-06-07 12:27] jinh0 commented on #44
Try this Discord link: https://discord.gg/6qCEXdnFGT ?

[2021-06-07 13:25] bigpick opened #45 "Markdown/RST needs to be recolored? Spec defined for it? Other?"
# Info
Mirroring issue into the main source repo, for thoughts/tracking here.

See: https://github.com/bigpick/spaceduck-atom-syntax/issues/2

[2021-06-07 13:43] bigpick opened #46 "port/enhancement: Add Spaceduck chroma syntax highlighting port"
# Info
https://github.com/alecthomas/chroma/tree/master/styles

If you use [Hugo](https://gohugo.io/) to power a static site (which is common), you can take advantage of the syntax highlighter that ships with Hugo natively, [Chroma](https://gohugo.io/content-management/syntax-highlighting/).

For example, that is what I use on a given website, and it works nice and I find it better supported than

[2021-06-07 15:16] bigpick opened #47 "enhancement: Replace main screenshot of code with common/copyable code"
# Info
If there was a general block of code that could be used for consistency across different ports, I think that'd be a good idea, to have at least somewhat of a basis to base appearance off of. Or, at the very least, so that each port has the same amount of demonstrated code/syntax highlighting.

I tried searching around for the code in the main repo's readme, but it seems like it must be priv

[2021-06-07 15:24] pineapplegiant commented on #47
This is a good idea. Definitely cross linked with the screenshots issue, wanna get more screenshots in here in general

[2021-06-07 15:26] bigpick commented on #44
This changes the strings (double and single quoted) to be blue, and changes the functions/alias/builtins to be green. How's it look now? I don't have the granularity with zsh-syntax-highlighting to make the string's quotes a different color than the string contents itself, so those would have to remain blue:

![Screen Shot 2021-06-07 at 11 23 59 AM](https://user-images.githubusercontent.com/980329

[2021-06-07 15:51] bigpick commented on #41
# `#00bbf9`
![00bbf9_add](https://user-images.githubusercontent.com/9803299/121049695-f2062980-c785-11eb-8b2c-160bf39008dd.png)

# `#14CFFB`
![14CFFB_add](https://user-images.githubusercontent.com/9803299/121049699-f3375680-c785-11eb-9ede-82757062cab3.png)

---

Though, I think a lighter shade of blue/purple would probably suite the theme more? Granted, it's not _blue_ persay, but still... e,g

#

[2021-06-07 16:20] pineapplegiant commented on #41
I was thinking a darker color maybe?

Although, lot's of things going on at once..(like I wanna edit both the red and orange too)

We haven't written it anywhere explicitly yet, but we updated the current cyan/blue color. My apologies, but `#00A3CC` is old and we're currently using `#59C2FF` for [the new cyan on dev](https://github.com/pineapplegiant/spaceduck/blob/4c509053876e72e69a45a24367df557c

[2021-06-07 17:13] bigpick commented on #41
Ah, OK. That's cool, makes sense.

As for the coloring, I like the new cyan/turquoise/"dark blue", but I think the key is making sure their expected usage is clearly defined in the spec. Like, the "main vibe" to me of the theme is a dark purple grounded theme, with purple accents and pops of color; that way in things that aren't like exact syntax that you can define a hard spec for, it keeps the o

[2021-06-07 18:58] pineapplegiant commented on #41
Yeah I think that’s it. I tend to associate red with errors so it should be used least sparingly I think. But orange is more permissible just not as much as green/purple.

[2021-06-08 03:43] jinh0 commented on #45
It does seem like there's a lot of work to be done with Markdown, especially since it's such a frequently-used language.

The markdown file in Vim doesn't look right either, (URL's being yellow). No wonder: there isn't any code for Markdown syntax highlighting in colors/spaceduck.vim.

One thing, though: syntax highlighting for Markdown looks more accurate with vim-polyglot since it comes with hig

[2021-06-08 03:46] jinh0 commented on #47
+1 on a `sample/` folder, especially for JavaScript, TypeScript, and Python.

I reference this file a lot while discussing JavaScript syntax, since I think it contains all the dynamic colors in Spaceduck. What do you think about adding this to the sample folder?
<img width="862" alt="Screen Shot 2021-06-08 at 12 12 49 PM" src="https://user-images.githubusercontent.com/40512164/121119877-6e1c7200-c

[2021-06-08 03:53] jinh0 commented on #44
Oh yeah that looks great! String quotes don't have to be a different color from the string content (I think that's a little hectic). Can't wait to use it for my own ZSH shell.

[2021-06-08 04:52] pineapplegiant commented on #47
I wanna change that orange to turquoise and the brackets away from purple in that image. I don’t like the colors, despite them being all represented 😖

[2021-06-08 10:56] bigpick commented on #44
Ah, I was just mentioning this since that's how it is in Vim

[2021-06-08 10:59] bigpick commented on #45
I'd be done for all that, no problem.

Though I think adding in some of the markdown fields/qualifiers to the spec would be a good idea too as a result of this work.

[2021-06-08 13:11] bigpick commented on #45
done

done

I trued magenta, but I think personally dark-purple2 looks best; imo, I think keeping it mostly purple/shades of the purple with occasional pops of color for accents is better than trying to sprinkle the colors throughout everything.

I'm talked briefly about some of the changes they are looking to make, and am ok with making things now, and coming back in later to update them with new

[2021-06-08 13:29] bigpick commented on #45
wrt

I'm talking about basically whatever atom highlights as https://..... (_not_ about the [](...) specific syntax).

To get what I was talking about, essentially have to force https things to just inherit their current color. For example, this is what it looks like instead (notice line 3 and line 36 have changed, but the markdown link syntax is still cyan):

![Screen Shot 2021-06-08 at 9 27 38 A

[2021-06-08 13:42] pineapplegiant commented on #45
Gotta update the line numbers and comment colors too. Active text tab should be gray.  Bold text should probably be yellow as well.

Apologies again, this isn’t written all up yet.

[2021-06-08 13:43] bigpick commented on #45
Ah, yeah, I think I had issues opened for that already in my repo.

[2021-06-08 14:00] bigpick commented on #45
* Updated line number coloring non-current line (dark-purple)
* Updated line number coloring current line (grey)
* Updated comment color to use new color from dev branch
* Change bold text to be yellow, not orange

![Screen Shot 2021-06-08 at 9 58 54 AM](https://user-images.githubusercontent.com/9803299/121198471-276f4d80-c840-11eb-930c-f03fc77cb783.png)

[2021-06-09 04:26] jinh0 commented on #47
How about I put this code into a sample/ folder and push it to the `dev` branch so we are both using the same file to test new syntax colors?

[2021-06-09 11:03] bigpick commented on #47
I guess I was thinking something more like an idea, that would be aside to copy/implement across multiple languages, but having something at least copyable for now would be a start

[2021-06-09 13:16] pineapplegiant commented on #47
I don’t wanna have any users install testing code when they use this plugin. Do you know if there’s a git way to have this separate, or should there be another repo or something? I have a local folder of random syntax files that I’ve been using for personally use

[2021-06-09 14:35] bigpick commented on #47
So, this is specifically talking about just the vim port then, yeah?

One way, would be to have a spare repo under the org (+1 for another org usecase;)), and it'd just be something like `samples` so like `spaceduck-theme/samples` and in it would just be a bunch of various languages that we have consistent/similar files showing a medium chunk sized of code, to demonstrate what a language looks lik

[2021-06-09 19:49] pineapplegiant commented on #47
Lol made an org and invited you guys 😛 🚀

[2021-06-09 20:12] bigpick commented on #47
@pineapplegiant cool, thanks. Can join, but think still need permissions to do anything for now. fwiw, I was thinking something like

[code]

were `spaceduck-theme/spaceduck` would be your top level "🚀  🦆  An intergalactic space theme for Vim, Terminal, and more!" landing repo, and then you have your ports/site/w.e else under it

[2021-06-09 20:19] pineapplegiant commented on #47
Yeah I think you're on the money that makes sense 🧠

[2021-06-09 21:21] bigpick opened #48 "enhancement: Vim Markdown syntax highlighting"
# Info
Right now, the default highlighting that comes with the vim plug doesn't do a great job doing the markdown (`.md`, for example) type files.

For reference, here is what we ended up going with (for now) for the atom syntax markdown:

![](https://user-images.githubusercontent.com/9803299/121198737-600f2700-c840-11eb-9556-2f148ede1e42.png)

---

# Currently Shipped w/vim plug

![Screen Shot 20

[2021-06-09 21:41] bigpick commented on #48
... for reference: https://github.com/pineapplegiant/spaceduck/compare/dev...bigpick:vim-readme-syntax-updates-1?expand=1

[2021-06-11 14:05] jinh0 opened #50 "suggestion: specify the syntax plugins used for language highlighting"
Taking inspiration from Nord https://github.com/arcticicestudio/nord-vim/blob/develop/colors/nord.vim:
<img width="768" alt="Screen Shot 2021-06-11 at 11 02 34 PM" src="https://user-images.githubusercontent.com/40512164/121698603-1d33a480-cb09-11eb-82d4-d8a3efe57975.png">

Think we should also add these comments before every plugin-specific highlight groups
[code]
especially for JavaScript and Typ

[2021-06-12 13:14] jinh0 opened #51 "enhancement: set coc-vim error code portion to red"
Example (Nord theme):
<img width="298" alt="Screen Shot 2021-06-12 at 10 10 03 PM" src="https://user-images.githubusercontent.com/40512164/121777063-271ddc00-cbcb-11eb-949b-29ecaf7c366b.png">

[2021-06-27 06:31] pineapplegiant commented on #33
The error is with neovim not with this theme itself.
See issue here: https://github.com/neovim/neovim/issues/9019

[2021-06-27 06:31] #33 closed

[2021-07-08 20:56] cyanotrix opened #53 "Scroll bars and Project title not following the theme on windows"
Not sure if others have faced it but on windows 3 elements were out of whack, or maybe cause I'm not using vim the scrollbars were ugly. Anyway I have attached the before and after fix screenshots along with the fix. Let me know if you can reproduce the issue, you can use the style to fix it.

Issue
![atom-spaceduck-ui bug](https://user-images.githubusercontent.com/5426801/124989633-f3fd2a00-e05c-

[2021-07-09 01:57] pineapplegiant commented on #53
Oh nice, thanks for opening an issue. That does look better. We should move this issue to the atom port. I’m still working on moving all the things to their right place so sorry about that being confusing.

[2021-07-09 22:57] cyanotrix commented on #53
No worries, happy to help. Love the theme, after a long time found something that I can work with.

[2021-07-09 23:00] pineapplegiant commented on #53
That’s awesome to hear.
Yeah hopefully gonna release some final changes to the palette and standardize everything. Color schemes are hard lemme tell you

[2021-07-09 23:05] cyanotrix commented on #53
Yeah no kidding, I'm experimenting on your theme with comments colors, there are not super contrasty compared to the background and hard to read in dimly lit env. I'll post some screenshots in case something looks good in line with the palette.

[2021-07-09 23:07] pineapplegiant commented on #53
Yeah they’re pretty bad lol.
We have the dev branch with new comment colors. I’m gonna include that in the next release don’t worry. I was using the iTerm terminal emulator when I first created the theme, and had a setting that increased the contrast so the colors were all off when I started testing it in different places.

[2021-07-16 15:00] TeoDev1611 commented on #48
This issue could be closed because the pull request are merged 🤔 ?

[2021-07-16 15:06] #48 closed

[2021-09-29 19:44] Luc-Saccoccio opened #55 "Trouble with coq_nvim"
I have some issues with the contours of the preview window of [`coq_nvim`](https://github.com/ms-jpq/coq_nvim)

![image](https://user-images.githubusercontent.com/70776630/135336946-481c7d86-52a9-4818-a0f9-72dba4c1c2f2.png)

The same issue happens with [`symbols-outline.nvim`](https://github.com/simrat39/symbols-outline.nvim)

![image](https://user-images.githubusercontent.com/70776630/135337277-d

[2021-10-06 07:08] euglevi commented on #55
I had the same issue. Try setting the highlight groups NormalFloat and FloatBorder. This solved the issue for me.

[2021-10-26 08:46] jclsn opened #57 "Fix airline text color for inactive splits"
The text of my inactive splits is too dark

![grafik](https://user-images.githubusercontent.com/19779511/138843039-2f92103f-4a5d-45cd-92f9-1797639d94c3.png)

I could fix it by changing

[code]

to

[code]
Not sure if this is a Vim problem. Are the colors right in Neovim?

[2021-12-07 11:32] singlexyz opened #59 "cmdline-window doesn't set the colors."
execute `q:`, `q/`, `q?` in nvim, symbol at the beginning of each line doesn't had the right color.

<img width="242" alt="图片" src="https://user-images.githubusercontent.com/4456413/145021585-1d0ea3bb-19ff-4cd8-abb0-8bd262410992.png">
<img width="267" alt="图片" src="https://user-images.githubusercontent.com/4456413/145021613-34cf9996-bbd8-4c08-b1e7-424d28d7ef15.png">
<img width="309" alt="图片" src="

[2022-02-21 15:29] jinh0 commented on #57
It's been fixed in the `dev` branch for a while now.

In fact, I'd recommend you use the `dev` branch until all the changes get pushed to the `main` branch.

[2022-02-21 15:29] #57 closed

[2022-02-21 16:33] jclsn commented on #57
Had it fixed for myself anyway. Was just wondering why no one had reacted.

[2022-02-21 16:38] pineapplegiant commented on #57
@jclsn because I’m a goof and totally forgot. I switched gears to working on the VScode theme since the editing process was easier. Hoping to get those updates here and just maintain the neovim/lua theme version thereafter.

Anyway I appreciate you, thanks for following up

[2022-02-21 16:42] jclsn commented on #57
Alright, hoping to see this merged. It's the first color theme I have stayed on for half a year now. That says a lot.

[2022-02-21 16:44] pineapplegiant commented on #57
I know good color schemes are hard to come by. That means a lot. @jinh0 knows a lot of other good ones too. We’ll have to keep & share a list of other ones we like.

[2022-02-22 16:27] jinh0 commented on #57
Sadly nothing beats spaceduck, though we need to work on Treesitter support that looks nice for TypeScript :(

[2022-03-03 19:21] vaileamon commented on #23
I have the exact same issue, but using Xterm2, with
[code]
correctly set.
Xterms seems to handle colors correctly as i use the same colorscheme for xterm's colors and that works like a charm.
I try kind of everything I could think of, do you guys have an idea ?

[2022-03-14 22:12] jinh0 commented on #59
Huh, that's interesting. Do you know what the highlight group for that is?

[2022-04-01 16:52] fovj commented on #59
Yeah, it's `NonText`.

<img width="457" alt="图片" src="https://user-images.githubusercontent.com/4456413/161307802-a8123acd-ca77-4f75-b138-6afdfb3df422.png">

[2022-08-02 20:03] Shayan-Raza opened #61 "Icon not showing"
![image](https://user-images.githubusercontent.com/99135614/182462951-e5c4778f-53e3-4b76-a69b-57536fd6e28a.png)
The icon is not showing I have copied your code from the README
[code]

[2022-08-02 20:42] pineapplegiant commented on #61
I actually noticed that in my vimrc this morning too.

There might have been some updates to how the theme is configured. I'd refer to their [docs](https://github.com/nvim-lualine/lualine.nvim#default-configuration). It's hard to keep up with all the plugins, especially now since everything is moving to neovim and lua based config. I have a lot of things to update 😞

I copied their README for what

[2022-08-03 21:20] Shayan-Raza commented on #61
The solution was using a nerd font

[2022-08-03 21:20] #61 closed, assigned to pineapplegiant